body {
    font-family: sans-serif, arial;
    margin: 1rem;
    background-color: #f4ede7;
    color: #3a2e28;
}

header {
    display: flex;
    word-spacing: 2rem;
    justify-content: space-between;
    position: sticky;
    background-color:#f4ede7;
    top: 0;
    border-color: black;
}

li {
    display: inline;
}

ul {
    padding-right: 4rem;
}

header img {
    width: 4rem;
    height: 4rem;
    float: left;
}

nav a {
    display: inline;
    text-decoration: none;
    word-spacing: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2.3rem;
    margin-bottom: 0.7rem;
    font-size: 2.7rem;
}

h2 {
    text-align: center;
    margin-top: 2.3rem;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

#contact h2{
    margin-top: 0;
    text-align: left;
}

h3 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

#home img {
    width: 100%;
    height: auto;
    max-width: 90rem;
    border-radius: 0.7rem;
}
#home p {
    margin-bottom: 2.3rem;
    width: 100%;
    margin-top: 0.4rem;
    text-align: justify;
}
#home {
    text-align: center;
}


#tours img {
    width: 100%;
    height: auto;
    max-width: 90rem;
    border-radius: 0.7rem;
}

article figure {
    width: 100%;
    height: auto;
    max-width: 90rem;
    text-align: justify;
    margin: 0;
}

article figcaption {
    text-align: right;
    font-size:1rem;
}

article p{
    font-size: 1.2rem;
}

.text {
    margin: 0;
    flex:1;
    padding-top: 2rem;
    font-size: 1.3rem;

}
.map img{
    width: 100%;
    height: auto;
    max-width: 35rem;
    border-radius: 0.7rem;
}

map{
    flex:1;
    text-align: right;
}

.contact {
    display: flex;
    gap: 1rem;
}

article p {
    text-align: justify;
}

article {
    display: flex;
    gap: 1.3rem;
}

article img {
    height: 161px;
    width: auto;
    border-radius: 0.7rem;
}

section{
    background: white;
    padding: 2rem;
    margin: 3rem;
    border-radius: 1rem;
}


.standard {
    padding: 0.6rem;
    background-color: #f4ede7;
    border-radius: 0.7rem;
}

.extended {
    padding: 0.6rem;
    background-color: #f4ede7;
    border-radius: 0.7rem;
}

.exclusive{
    padding: 0.6rem;
    background-color: #f4ede7;
    border-radius: 0.7rem;
}